:root {
    --container-border-radius: 5px;
    --round-border-radius: 50%;
    
    --primary-color: #b65656;
    --secondary-color: #FCDEBE;
    --accent-color: #739E82;
    --success-color: rgb(9, 104, 9);
    --error-color: rgb(212, 17, 17);
}

