.confirm-pop-up {
    padding: 4px;
}

.pop-up-body {
    padding: 5px 10px 10px;

    p {
        color: #0c071b;
        text-align: center;
        word-spacing: 0px;
        font-weight: 800;
        white-space: pre-wrap;
    }
}



.action-btn {
    width: 49%;
}